<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documenttrttttt</title>
</head>
<body>

    <%- include ('partials/navigation.ejs') %>

    <h1>Usando Express y ejs</h1>


</body>
</html>